.links{
    display: flex;
    gap: 10px;
    align-items: center;
}

.logout{
    padding: 10px;
    font-weight: bold;
    cursor: pointer;

}

.contanier{

}

.menuBtn{
    display: none;
}

.mobileLinks{
    display: none;
}

@media (max-width : 768px) {
    .links{
        display: none;
    }
    .mobileLinks{
        background-color: var(--bgSoft);
        position: absolute;
        top: 100px;
        right: 0;
        width: 50%;
        height: calc(100vh - 100px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .menuBtn {
        display: block;
        padding: 5px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }
}