.container{
    display: flex;
    gap: 100px;
    height: 100%;
}

.textContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
}

.title{
    font-size: 72px;
}

.desc{
    font-size: 20px;
}

.buttons{
    display: flex;
    gap: 20px;
}

.button{
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: var(--bgSoft);
    color: var(--textSoft);
}


.brand{
    position: relative;
    width: 500px;
    height: 50px;
    filter: grayscale(1);
}

.imgContainer{
    flex: 1;
    position: relative;
}

@media (max-width:768px) {
    .container {
        flex-direction: column;
    }

    .title{
        font-size: 54px;
    }


    .imgContainer{
        /* height: 400px; */
    }
}